@import "tailwindcss";
@import "./styles/global.css";

body {
  position: relative;
  background: var(--gradient-pink);
  background-size: 200% 200%;
  animation: gradient-shift 8s ease infinite;
  overflow-x: hidden;
  min-height: 100vh;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
