@layer layout {
  .container {
    width: 100%;
    max-width: var(--size-container-lg);
    margin-inline: auto;
    padding-inline: var(--space-md);
  }

  .page {
    min-height: 100vh;
    padding: var(--space-md);
  }
}
