.primaryButton {
  padding: var(--space-md) var(--space-lg);
  background: no-repeat center / contain;
  color: var(--color-white);
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  width: 12rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
