jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write 
      contents: read  
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::643665102109:role/github_actions
          aws-region: ap-northeast-1

      - name: Test AWS access
        run: aws sts get-caller-identity
